body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:lightgray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header, main, footer {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  color: #F4CE14;
  text-shadow: 3px 1px 1px black;
}

button {
  background-color: #F4CE14;
  font-weight: bold;
  width: 150px;
  height: 35px;
  border-radius: 16px;
  box-shadow: 0px;
}

header {
  height: 60px;
  padding: 5px 0;
  display: flex;
  margin: auto;
}

header img, .logo {
  display: block;
  margin: 5px auto;
}

nav {
  width: 500px;
  text-align: center;
  color: black;
  margin: auto;
}

nav ul {
  display: flex;
  margin: auto;
  width: 500px;
  height: 30px;
  background-color:#F4CE14;
  border-radius: 16px;
}

nav li {
  list-style: none;
  padding: 5px 10px;
  text-align: center;
}

nav a, nav a:active, nav a:visited {
  color: black;
  text-decoration: none;
  border-radius: 5px;
  padding: 5px;
}

nav a:hover {
  color: #F4CE14;
  background-color: rgb(73, 94, 87);
}

nav img {
  display: none;
}

.wrapper {
  padding: 0 10%;
}

#hero {
  background-color: rgb(73, 94, 87);
  padding: 10px;
}

#hero .wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  justify-content: right;
  align-content: right;
}

#hero img {
  width: 80%;
  margin: auto;
  border-radius: 16px;
}

#specials {
  margin-bottom: 20px;
  display: block;
  margin:auto;
}

.specials-title {
  display: flex;
  margin: auto;
}

.specials-title div {
  display: block;
  margin: auto;
}

.specials-title div:first-child {
  text-align: left;
}

.specials-title div:last-child {
  text-align: right;
}

#specials img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

#specials .wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.specials-card {
  border: 1px solid black;
  border-radius: 16px;
}

.specials-card a, 
.specials-card p,
.specials-card h2 {
  margin-left: 10px;
  margin-right: 10px;
}

#Testemonials {
  margin: 20px 0;
  padding-bottom: 20px;
  background-color: rgb(73, 94, 87);
}

#Testemonials > h2 {
  display: block;
  text-align: center;
}

#Testemonials .wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

#Testemonials section {
  border: 1px solid black;
  border-radius: 16px;
  padding: 10px;
}

#Testemonials p {
  font-style: italic;
}

#about {
  margin: 20px 0;
}

#about .wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

#about img {
  width: 80%;
  border-radius: 16px;
}

#bookingForm {
  display: block;
  width: 500px;
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 16px;
  padding-bottom: 10px;
}

#bookingForm ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(30px, auto);
  justify-content: center;
  padding: 0px;
}

#bookingForm li {
  list-style: none;
  border: 1px solid black;
  border-radius: 16px;
}

#bookingForm .wrapper {
  display: grid;
  text-align: center;
}

#bookingForm label {
  padding-right: 10px;
}

#bookingForm input,
#bookingForm select {
  border-radius: 16px;
  padding: 5px;
  min-width: 100px;
}

footer {
  width: 100%;
  margin: 10px 0 0 0;
  padding: 10px 0 10px 0;
  background-color: rgb(73, 94, 87);
}

footer .wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

footer img {
  width: 80%;
  object-fit: cover;
  border-radius: 16px;
}

.center-image {
  display: flex;
  justify-content: center;
}

footer .copyright {
  color: white;
  text-align: center;
  margin: 0;
}

footer p {
  margin: 5px 0;
}

footer h2 {
  margin-bottom: -5px;
}

footer hr {
  height: 1px;
  border: none;
  background-color: #F4CE14;
}

footer ul {
  margin-left: -35px;
}

footer li {
  list-style: none;
  margin: 5px 0;
}

footer a,
footer a:active,
footer a:visited {
  color:#F4CE14;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Responsive Section */

@media (max-width: 700px){
  nav img {
    display: block;
  }

  nav ul {
    display: block;
  }
}

@media (min-width: 700px){
  #specials .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  #hero .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    justify-content: right;
    align-content: right;
  }
  #Testemonials .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  #about .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  footer .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
}

@media (min-width: 1000px){
  #specials .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  #Testemonials .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  footer .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
}